<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>request pay</title>
</head>
<body>
<form action="" method="post">
    <table>
        <tr>
            <td>legal tender currency</td>
            <td>
                <input name="legalTenderAmount" th:value="${legalTenderAmount}" type="text"/>
                <select name="legalTenderCurrency">
                    <option th:value="${legalTenderCurrency}">
                        <span th:text="${legalTenderCurrency}"></span>
                    </option>
                </select>
            </td>
        </tr>
        <tr>
            <td>pay method</td>
            <td>
                <select name="payMethod">
                    <option th:value="${payMethod}">
                        <span th:text="${payMethod}"></span>
                    </option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="submit order"/></td>
        </tr>
    </table>
</form>
</body>
</html>