<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>wait bitcoin pay</title>

    <script src="https://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
</head>
<body>
<table>
    <tr>
        <td>bitcoin amount</td>
        <td><span th:text="${bitcoinAmount}"></span></td>
    </tr>
    <tr>
        <td>bitcoin address</td>
        <td><span th:text="${bitcoinAddress}"></span></td>
    </tr>
    <!--
    Payment information
    URI:
    bitcoin:BC1QUS3EYP6CVMZMQXCNJN5AKDTFRCLV4F0FWWAWDA
    ?amount=9.36000000
    &label=tagsssssssss
    &message=msggg
    地址: bc1qus3eyp6cvmzmqxcnjn5akdtfrclv4f0fwwawda
    总计: 9.36000000 BTC
    标签: tagsssssssss
    Message: msggg
    -->
</table>
<span id="result"></span>
<div id="qrCode"></div>
<script>
    new QRCode(document.getElementById("qrCode"), "[[${bitcoinQrCode}]]");

    var timer;

    function queryPayOrder() {
        $.ajax({
            url: "[[@{/pay/queryPayOrder}]]",
            data: {
                payOrderUuid: "[[${payOrderUuid}]]"
            },
            success: function (res) {
                $("#result").text(res);
            }
        })
    }

    $(document).ready(function () {
        timer = setInterval("queryPayOrder()", 1000);
    });
</script>
</body>
</html>